black
pip-tools
Django
djangorestframework
djangorestframework-simplejwt
django-rest-authtoken
django-cors-headers
gunicorn
uvicorn
celery
mysqlclient
pdf2image
opencv-python
pytesseract
numpy
boto3
requests